html {
  box-sizing: border-box;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

/* Main Grid Container */
#container {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 100px 1fr auto;
  grid-template-columns: minmax(auto, 1000px);
  justify-content: space-around;
}

/* Header row for logo and customer info */
header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  padding: 20px;
}

/* logo */
header img {
  align-self: center
}

#customer_info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: center;
  justify-self: end;
  grid-column-gap: 20px;
  font-size: 1.3em;
}

/* main invoice content*/
section {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  padding: 20px;
  grid-gap: 20px;
}
/* customer address */
section address {
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.6em;
}


/*account summary information*/
#account_summary {
  background-color: lightblue;
  padding: 5px 20px 20px 20px;
  border-radius: 5px;
}

#account_summary h2 {
  margin: 10px 10px 10px 0px;
}

#account_summary h3 {
  margin: 10px 5px 5px 0px;
}

#account_summary p {
  padding: 0;
  margin: 0;
}

/* Price breakdown table */
#price_breakdown {
  grid-column: 1 /-1;
  background-image: url('images/watermark.png');
  background-position: center center;
  background-size: 400px;
  background-repeat: no-repeat;
}

.cost_breakdown {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #999;
  width: 100%;
  clear: both;
  margin-top: 50px;
}

.cost_breakdown td {
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #999;
  color: #444;
  background-color: rgba(255, 240, 240, 0.5);
}

.cost_breakdown th {
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #999;
  color: #fff;
  background-color: #26ade4;
}

#total_label {
  background-color: transparent;
  border-bottom: 0px solid white;
  font-size: 2em;
  text-align: right;
  padding-right: 10px
}

#total {
  background-color: transparent;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 2em
}

/* information image */
section img {
  grid-column: 1 /-1;
  justify-self: center;
}

/* footer */
footer {
 display:grid;
 grid-template-columns: auto 1fr auto;
}
footer address{
  justify-self: center;
}
footer div{
  justify-self: end;
  text-align: right;
}